body {
    background-color: #F2F2E9; 
    color: #593A2E; 
    font-family: Arial, sans-serif; 
    font-size: 18px;
    line-height: 1.6; /*інтервал */
    margin: 0;
    padding: 0;
    text-align: justify; /*по ширині */
}

header {
    background-color: #255459;
    color: #471509;
    padding: 15px;
    text-align: center;
}

header nav a { /* Контекстний селектор */
    font-weight: bold;
}


nav a {
    text-decoration: none;
    padding: 10px;
}


/* Псевдокласи для посилань */
a:link {
    color: #A66F5B; 
} 

a:visited {
    color: #A66F5B; /* колір для відвіданих посилань */
} 

a:hover {
    color: #471509; /* при наведенні */
}

a:active {
    color: #471509; /* при натисканні */
}

/* Псевдоклас :first-child */
ul li:first-child a {
    font-style: italic; /* Facebook буде курсивом */
}

/* Псевдоелемент :before */
ul li a::before {
    content: "🔗 ";
    color: #555;
}

/* Псевдоелемент :after */
ul li a::after {
    content: " ➤";
    color: #999;
}


h1 + h2 { /* Сусідній селектор*/
    color: #FF5733; 
    font-size: 28px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #A66F5B;
    text-align: center;
    margin-bottom: 20px; /*відступ знизу*/
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #255459;
    text-align: center;
    margin-bottom: 15px; 
}


#main-title {  
    font-size: 36px;
    font-style: italic;
    color: #FF5733;
    text-align: center;
}

.main-title {  
    font-size: 36px;
    font-style: italic;
    text-align: center;
}


.special-text {
    font-size: 20px;
   
    line-height: 1.8;
    text-align: center;
}

table {
    width: 80%; 
    margin: 20px auto; /* Відступи зверху і знизу , вирівнювання по центру */
    border-collapse: collapse; /* Пробіли між межами клітинок */
    text-align: center; 
}


th, td {
    border: 1px solid #593A2E; 
    padding: 15px; /* Відступи всередині клітинок */
}


th {
    background-color: #A66F5B; 
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    text-transform: uppercase; /* Великі літери для заголовків */
}


td {
    font-family: 'Verdana', sans-serif; /* Шрифт для клітинок */
    font-size: 16px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стилі для маркованих списків */
ul {
    padding-left: 20px; 
}

/* Стилі для маркованих списків з квадратними маркерами */
ul[style="list-style-type: square;"] {
    list-style-type: square; /* Квадратні маркери */
    padding-left: 40px;
    color: #A66F5B;
}


ol { /* Стилі для нумерованих списків */
    list-style-type: decimal; 
    padding-left: 20px; 
}

dl { 
    margin-left: 20px; 
}

dt { /* Терміни */
    font-weight: bold; 
    color: #255459; 
}

dd { /* Визначення */
    margin-bottom: 10px; /* Відступ знизу */
    margin-left: 20px; /* Відступ*/
    font-style: italic; /* Курсив */
    color: #593A2E; 
}

/* Стиль для div */
.text-block {
    margin: 30px auto;
    padding: 20px;
    background-color: #fdfaf4;
    border-left: 6px solid #A66F5B;
    border-right: 6px solid #A66F5B;
    border-radius: 12px;
    max-width: 1000px;
}

.text-block p {
    color: #255459;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 20px;
}

/* Стиль для span */
span.highlight {
    color: #A66F5B;
    font-weight: bold;
}

span.accent {
    color: #FF5733;
    font-style: italic;
}

/* Position */
.list-section {
    position: relative;  /* відносне */
    padding: 20px;
    margin: 30px auto;
    background: #fdfaf4;
    max-width: 1000px;
    border-left: 4px solid #A66F5B;
    border-right: 4px solid #A66F5B;
    border-radius: 10px;
}

.list-section span.decor {
    position: absolute; /* абсолютне */
    top: -10px;
    left: -10px;
    background: #A66F5B;
    color: #fff;
    padding: 6px 10px;
    border-radius: 30%;
    font-size: 30px;
}

.sticky-title {
    position: sticky; /* прилипле */
    top: 0;
    background: #A66F5B;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: #FF5733;
}

.fixed-info {
    position: fixed; /* фіксоване */
    bottom: 15px;
    left: 15px;
    background: #255459;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

footer > p { /* Дочірний селектор */
    font-style: italic;
    color: #A66F5B;
} 

p {
    color: #255459;
    text-align: center;
} 

footer {
    background-color: #255459;
    color: #75BFB8;
    text-align: center;
    padding: 10px;
}

.highlighted {
    background-color: #ffeb3b;
}

.menu {
    margin-top: 20px;
    text-align: center;
}

.menu button {
    background-color: #255459; 
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 8px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.floating-image-block img {
    position: absolute;
    cursor: grab;
    user-select: none;
    left: 20px;
}

.floating-image-block {
    position: relative;
}