body {
    background-color: #F2F2E9; /* Колір фону */
    color: #593A2E; /* Колір тексту */
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 18px; /* Розмір шрифту */
    line-height: 1.6; /* Міжрядковий інтервал */
    margin: 0;
    padding: 0;
    text-align: justify; /* Вирівнювання тексту по ширині */
}

header {
    background-color: #255459;
    color: white;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #A66F5B;
    text-align: center;
    margin-bottom: 20px; /*відступ знизу*/
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #255459;
    text-align: center;
    margin-bottom: 15px; /*відступ знизу*/
}

p {
    text-align: center;
}

/* Стилізація унікального заголовка */
#main-title {  
    font-size: 36px;
    font-style: italic;
    color: #FF5733;
    text-align: center;
}

/* Стилізація класу для особливого тексту */
.special-text {
    font-size: 20px;
    color: #255459;
    line-height: 1.8;
    text-align: center;
}

nav a {
    color: #75BFB8;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #A66F5B;
}

a {
    color: #FF5733;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: #A66F5B;
}


table {
    width: 80%; 
    margin: 20px auto; /* Відступи зверху і знизу , вирівнювання по центру */
    border-collapse: collapse; /* Пробіли між межами клітинок */
    text-align: center; 
}

/* Стилі для заголовків і клітинок */
th, td {
    border: 1px solid #593A2E; 
    padding: 15px; /* Відступи всередині клітинок */
}

/* Стилі для заголовків таблиці */
th {
    background-color: #A66F5B; 
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    font-weight: bold; 
    text-transform: uppercase; /* Великі літери для заголовків */
}

/* Стилі для клітинок таблиці */
td {
    font-family: 'Verdana', sans-serif; /* Шрифт для клітинок */
    font-size: 16px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стилі для маркованих списків */
ul {
    padding-left: 20px; 
}

/* Стилі для маркованих списків з квадратними маркерами */
ul[style="list-style-type: square;"] {
    list-style-type: square; /* Квадратні маркери */
    padding-left: 40px;
    color: #A66F5B;
}


ol { /* Стилі для нумерованих списків */
    list-style-type: decimal; 
    padding-left: 20px; 
}

dl { 
    margin-left: 20px; 
}

dt { /* Терміни */
    font-weight: bold; 
    color: #255459; 
}

dd { /* Визначення */
    margin-bottom: 10px; /* Відступ знизу для кожного визначення */
    margin-left: 20px; /* Відступ для визначення */
    font-style: italic; /* Курсив для визначень */
    color: #593A2E; /* Колір тексту визначень */
}

footer {
    background-color: #255459;
    color: #75BFB8;
    text-align: center;
    padding: 10px;
}
