body {
    background-color: #F2F2E9;
    color: #593A2E;
    font-family: Arial, sans-serif;
    height: 100%; 
    margin: 0;
    padding: 0; 
}

header {
    background-color: #255459;
    color: white;
    padding: 15px;
    text-align: center;
}

h1, h2, p {
    text-align: center;
}

nav a {
    color: #75BFB8;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #A66F5B;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #F2F2E9;
}
th, td {
    border: 1px solid #593A2E;
    padding: 15px;
}
th {
    background-color: #A66F5B;
    color: white;
}
caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#about-page {
    position: relative; /* Встановлюємо відносне позиціонування для батьківського елемента */
    height: 100%; /* Контейнер займає всю висоту батьківського елемента */
}

#about-page::before {
    content: ""; /* Створюємо псевдоелемент для фонового зображення */
    position: absolute; /* Абсолютне позиціонування для розміщення поверх контейнера */
    width: 100%; 
    height: 100%; 
    background: url('./images/background.png') no-repeat center center; 
    background-size: cover; /* Зображення заповнює весь контейнер */
    opacity: 0.5; 
    z-index: -1; /* Відправляємо фон за основний контент */
}


footer {
    background-color: #255459;
    color: #75BFB8;
    text-align: center;
    padding: 10px;
}
